@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype'); /* Use the absolute path to the font file */
    font-weight: 100 900;
    /* You can also specify font-weight and font-style here if necessary */
  }
  
  

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    display: flex;
    border-style: dashed;
    max-width: fit-content;
    border-radius: 20px;
    box-shadow: 3px 3px 30px rgba(173, 216, 230, 0.91);
    
}

.Blue-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    align-items: center;
    padding: 30px;
    background-color: hsl(228, 45%, 44%);
    color: white;
    border-radius: 20px;
    max-width: 300px;
}

.White-right{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 190px;
    padding: 50px 70px 50px 30px;
    background-color: hsl(0, 0%, 100%);
    font-weight: 700;
    color: rgb(5, 3, 62);
    border-radius: 20px;
    max-width: 300px;
}

.summary-grid{
    display: grid;
    grid-column: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: lightgray;
}

.grid-items{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    width: 220px;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(243, 192, 192);
    margin-bottom: 10px;
}

/* Red style */
.grid-items.red {
    background-color: rgba(255, 128, 128, 0.2); /* Light red background */
    color: rgba(255, 0, 0, 0.9); /* Bright red text */
}

/* Yellow style */
.grid-items.yellow {
    background-color: rgba(255, 255, 128, 0.2); /* Light yellow background */
    color: rgba(255, 187, 0, 0.9); /* Bright yellow text */
}

/* Green style */
.grid-items.green {
    background-color: rgba(128, 255, 128, 0.2); /* Light green background */
    color: rgb(0, 255, 110); /* Bright green text */
}

/* Blue style */
.grid-items.blue {
    background-color: rgba(128, 128, 255, 0.2); /* Light blue background */
    color: rgba(0, 0, 255, 0.9); /* Bright blue text */
}

h5{
    margin-left: 10px;
}

.right-text{
    color:rgb(146, 139, 139);
    font-size: 13px;
    font-weight: 600;
}

span{
    color: black;
    font-size: 13px;
    font-weight: bold;
}


span#after{
    color: lightgray;
}

.grid-items-left{
    display: flex;
    
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: rgb(102, 104, 228);
    width: 90px;
    height: 90px;
    padding: 25px;
    border-radius: 100%;
    text-align: center;
    
}

h1{
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 50px;
    
}
p{
    margin: 0px;
    font-size: 11px;
    text-align: center;
    max-width: 150px;
    color: rgb(218, 216, 216);
}

button{
    color: white;
    font-weight: bold;
    background-color: rgba(21, 6, 75, 0.882);
    border-radius: 20px;
    padding: 10px;
}